version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example123
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net

  backend:
    build: ./backend
    image: sairam2107/mean-backend:latest
    restart: always
    depends_on:
      - mongo
    environment:
      PORT: 3000
      MONGO_URL: mongodb://root:example123@mongo:27017/meanapp?authSource=admin
    ports:
      - "3000:3000"
    networks:
      - app-net

  frontend:
    build: ./frontend
    image: sairam2107/mean-frontend:latest
    restart: always
    depends_on:
      - backend
    networks:
      - app-net

  nginx:
    image: nginx:latest
    container_name: nginx-reverse
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
    networks:
      - app-net

volumes:
  mongo-data:

networks:
  app-net:
    driver: bridge

